<p id="notice"><%= notice %></p>

<div class="bills-title">
  <h1>Bills</h1>
  <%= link_to new_bill_path do %>
    <%= fa_icon "plus-circle", class: "fa-3x" %>
  <% end %>
</div>

<% @bills.order(:due_date).each do |bill| %>
  <%= link_to bill do %>
    <div class="bill-card">
      <div class="bill-card-title">
        <h2><%= bill.account_name %></h2>
        <% if bill.paid? %>
          <%= fa_icon "check", class: "fa-2x fc-g" %>
        <% end %>
      </div>
      <div>
        <span class="due">$<%= '%.2f' % bill.due_amount %></span>
        <% if bill.paid? %>
          paid on the <%= bill.paid_date.day.ordinalize %>
        <% else %>
          due on the <%= bill.due_date.day.ordinalize %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
