<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: left;">Name</th>
      <th>Due date</th>
      <th>Due amount</th>
      <th>Paid date</th>
      <th>Paid amount</th>
      <th>Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody style="text-align: center;">
    <% @bills.order(:due_date).each do |bill| %>
      <tr>
        <td style="text-align: left;"><%= bill.name %></td>
        <td><%= bill.due_date.strftime("%m/%d") %></td>
        <td style="text-align: right;">$<%= '%.2f' % bill.due_amount %></td>
        <td>
          <% if bill.paid? %>
            <%= bill.paid_date.strftime("%m/%d") %>
          <% else %>
            &mdash;
          <% end %>
        </td>
        <td style="text-align: right;">$<%= '%.2f' % bill.paid_amount %></td>
        <td style="text-align: left;"><%= bill.notes %></td>

        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
