<p id="notice"><%= notice %></p>

<h1>
  <%= @bill.name %>
  $<%= '%.2f' % @bill.due_amount %>
</h1>

<p>
  <strong>Due date:</strong>
  <%= @bill.due_date.strftime("%m/%d") %>
</p>

<p>
  <strong>Paid date:</strong>
  <% if @bill.paid? %>
    <%= @bill.paid_date.strftime("%m/%d") %>
  <% else %>
    &mdash;
  <% end %>
</p>

<p>
  <strong>Paid amount:</strong>
  $<%= '%.2f' % @bill.paid_amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bill.notes %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
