<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Accounts</h1>
  <%= link_to new_account_path do %>
    <%= fa_icon "plus-circle", class: "fa-3x" %>
  <% end %>
</div>

<% @accounts.order(:name).each do |account| %>
  <%= link_to account do %>
    <div class="card">
      <div class="card-title">
        <h2><%= account.name %></h2>
      </div>
      <div>
        <a href="<%= account.url %>" target="_blank">Visit</a>
      </div>
    </div>
  <% end %>
<% end %>
